.idea/
*.iml
*.pyc
!*.py
*.class
*.local.config*
*.asv
*/daily.log
*db.sqlite3
*imageName2UUID.xlsx
log.txt*
playground/*
*.xls
*.log
*.log*
*.sqlite
.cache
.cache/v/cache/lastfailed
version.txt
_ignored/*
*.xml